body, html {
    height: 100%;
}

/* CALENDAR */

.calendar__table {
    width: 100%;
    min-height: calc(100% - 201px);
    position: relative;
}

.calendar__table td {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}

.calendar__table--6weeks td {
    height: 16.66%;
}

.calendar__weekday {
    font-weight: bold;
    color: #000;
}

.calendar__othermonth .calendar__day {
    opacity: 0.3;
}

.calendar__day {
    font-size: 1.3em;
}

.calendar__events .event {
    padding: 1.5px 4.5px;
    border-radius: 6px;
    display: block;
    margin-bottom: 3px;
}

.calendar__button {
    display: block;
    width: 55px;
    height: 55px;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border-radius: 50%;

    box-shadow: 0 6px 10px 0 #0000001a,0 1px 18px 0 #0000001a, 0 3px 5px -1px #0003;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 30px;
    transition: 0.3s;
    text-decoration: none;
}

.calendar__button:hover {
    text-decoration: none;
    transform: scale(1.2);
    color: #fff;
}